{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Güncel Haberler</h2>
                    {% for rs in daily %}
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{ rs.image.url}}"  alt="" />
                                        <h2>{{rs.title}} </h2>
                                        <p>{{rs.description}}</p>
                                        <a href="/new/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-smile-o"></i>Habere git</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div><!--features_items-->
                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Bunlara'da Göz Atmalısın</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                {% for rs in recommend %}
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="{{rs.image.url}}" alt="" />
                                                    <h2>{{rs.title}}</h2>
                                                    <p>{{rs.description}}</p>
                                                    <a href="/new/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i class="fa fa-smile-o"></i>Habere git</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div><!--/recommended_items-->
                    </div>
                </div>
            </div>
</section>