{% load static %}

<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i>{{ setting.phone }}</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>{{ setting.email }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ setting.facebook }}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{ setting.twitter }}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="{{ setting.instagram }}"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="{{ setting.youtube }}"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    {% load static %}

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="{% static 'images/home/logo.png'%}" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if user.id is not none %}
                            <li><a href="/user/"><i class="fa fa-user"></i>{{ user.first_name }}</a></li>
                            <li><a href="/logout/"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
                            {% else %}
                            <li><a href="/login/"><i class="fa fa-sign-in"></i>Giriş Yap</a></li>
                            <li><a href="/register/"><i class="fa fa-user"></i> Kayıt Ol</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <script>

        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }

    </script>
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/" class="active">Anasayfa</a></li>
                            {% load mptt_tags %}
                            <li class="dropdown"><a href="#">Kategoriler<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% recursetree category %}
                                        <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                                    {% endrecursetree %}
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">SSS<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/faq">Sıkça Sorulan Sorular</a></li>
                                </ul>
                            </li>
                            <li><a href="/aboutus">Hakkımızda</a></li>
                            <li><a href="/references">Referanslarımız</a></li>
                            <li><a href="/contactus">Bizimle İletişime Geç!</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input id="query" name="query" class="input search_box" type="text" placeholder="Arayacağınız kelimeyi girin.">
                        {% load mptt_tags %}
                        <select name="catid" class="input search-categories">
                            <option value="0">Tüm Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}<option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>

                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->