{% extends 'homebase.html'%}
{% block title %}{{ new.title }}{% endblock %}
{% block keywords %}{{ new.keywords }}{% endblock %}
{% block description %}{{ new.description }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">

                        <div class="view-product">
                            <img src="{{ new.image.url }}"  alt="" />

                        </div>

                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% for rs in images %}
                                    <div class="item active">
                                        <img src="{{ rs.image.url }}" style="height: 70px;" alt="" />
                                    </div>
                                {% endfor %}
                            </div>

                            <!--
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        Controls -->
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>{{ new.title }}</h2>
                            <h5>{{ new.description }}</h5>
                        </div><!--/product-information-->

                    </div>
                </div><!--/product-details-->
                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">İçerik</a></li>
                            <li ><a href="#reviews" data-toggle="tab">Yorumlar </a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details">
                            <div class="col-sm-12">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            {{new.detail|safe}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--
                                                    <div class="tab-pane fade  in" id="reviews" >
                                                        <div class="col-sm-12">
                                                            @foreach($reviews as $rs)
                                                            <ul>
                                                                <li><a href=""><i class="fa fa-user"></i></a></li>
                                                                <li><a href=""><i class="fa fa-calendar-o"></i>/a></li>
                                                            </ul>
                                                            <div class="rate-this pull-right">
                                                                <i class="fa fa-star @if ($rs->rate<1) -o empty @endif"></i>
                                                                <i class="fa fa-star @if ($rs->rate<2) -o empty @endif"></i>
                                                                <i class="fa fa-star @if ($rs->rate<3) -o empty @endif"></i>
                                                                <i class="fa fa-star @if ($rs->rate<4) -o empty @endif"></i>
                                                                <i class="fa fa-star @if ($rs->rate<5) -o empty @endif"></i>

                                                            </div>
                                                            <div class="review-body">
                                                                <strong>{</strong>
                                                                <p></p>

                                                            </div>
                                                            @endforeach



                                                             <p><b>Write Your Review</b></p>
                                                            @livewire('review',['id'=>$data->id])
                                                        </div>
                                                    </div>
                                                    <-->

                    </div>
                </div><!--/category-tab-->
            </div>
        </div>
    </div>
{% endblock %}