{% extends 'homebase.html'%}
{% block title %}Referanslar{{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block content %}
<div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    {{setting.references|safe}}
                </div>
            </div>
        </div>
{% endblock %}