{% extends 'homebase.html' %}
{% block title %}{{ profile.user.first_name }} Profili{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 padding-right">
                {% include "user_panel.html" %}
            </div>
            <div class="col-sm-10 padding-right">
            {% if messages %}
                {% for message in messages %}
                    <div style="color: red ; font-size: medium">
                    {{ message| safe}}
                    </div>
                {% endfor %}
            {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit">Değişiklikleri Kaydet</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}