<div class="brands_products"><!--brands_products-->
    <h2>Üye Paneli</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/user/"> <span class="pull-right"></span>Profilim</a></li>
            <li><a href="/user/contents"> <span class="pull-right"></span>Haberlerim</a></li>
            <li><a href="/user/comments"> <span class="pull-right"></span>Yorumlarım</a></li>
            <li><a href="/logout/"> <span class="pull-right"></span>Çıkış Yap</a></li>

        </ul>
    </div>
</div><!--/brands_products-->